<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <header>
      <h1>Pagina de Registracion</h1>
    </header>
    <main>
      <% if(typeof msgErrorC != "undefined"){ %>
      <p class="errors"><%= msgErrorC %></p>
      <% } %>
      <section>
        <form
          action="/users/register"
          method="post"
          enctype="multipart/form-data"
        >
          <h2>Estos datos necesitamos de vos</h2>
          <input type="text" name="id" id="" placeholder="ID" hidden />
          <br />
          <br />
          <input type="text" name="nombre" id="" placeholder="Tu Nombre" />
          <% if(typeof errorNombre !="undefined") { %>
          <p class="errors"><%= errorNombre %></p>
          <% } %>
          <br />
          <br />
          <input type="text" name="apellido" id="" placeholder="Tu Apellido" />
          <% if(typeof errorApellido !="undefined") { %>
          <p class="errors"><%= errorApellido %></p>
          <% } %>
          <br />
          <br />
          <input type="number" name="edad" id="" placeholder="Tu Edad" />
          <% if(typeof errorEdad !="undefined") { %>
          <p class="errors"><%= errorEdad %></p>
          <% } %>
          <br />
          <br />
          <input
            type="text"
            name="profesion"
            id=""
            placeholder="Tu Profesion"
          />
          <% if(typeof errorProfesion !="undefined") { %>
          <p class="errors"><%= errorProfesion %></p>
          <% } %>
          <br />
          <br />
          <label for="birth">Fecha de Nacimiento</label>
          <input type="date" name="birth" id="birth" />
          <% if(typeof errorNacimiento !="undefined") { %>
          <p class="errors"><%= errorNacimiento %></p>
          <% } %>
          <br />
          <br />
          <label for="">Imagen de Usuario</label>
          <input type="file" name="photo" id="" />
          <br />
          <br />
          <input type="email" name="email" id="" placeholder="Tu Email" />
          <% if(typeof errorEmail != "undefined") { %>
          <p class="errors"><%= errorEmail %></p>
          <% } %>
          <br />
          <br />
          <input
            type="password"
            name="password"
            id=""
            placeholder="Contrase単a"
          />
          <% if(typeof errorContrase単a != "undefined") { %>
          <p class="errors"><%= errorContrase単a %></p>
          <% } %>
          <br />
          <br />
          <input
            type="password"
            name="password2"
            id=""
            placeholder="Repetir Contrase単a"
          />
          <br />
          <br />
          <button type="submit">Registrarse</button>
        </form>
      </section>
    </main>
  </body>
</html>
